<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Register</title>
  <script src="http://localhost:5000/js/tailwind.js"></script>
  <script>
    /**
     * 获得表单注册信息,返回其信息对象
     */
    function getFormData() {
      let nodeArrs = document.querySelectorAll("input");
      return {
        username: nodeArrs[0].value,
        email: nodeArrs[1].value,
        hashed_password: nodeArrs[2].value,
      };
    }

    /**
     * 验证表单信息,通过返回true
     */
    function validateForm(info) {
      // 用户名非空验证
      if (!info.username.length) return alert("用户名不能为空！");
      // 邮箱验证
      const emailReg =
        /^[A-Za-z0-9]+([_\.][A-Za-z0-9]+)*@([A-Za-z0-9\-]+\.)+[A-Za-z]{2,6}$/;
      if (!emailReg.test(info.email)) return alert("邮箱格式不正确,请重新输入");
      if (!info.hashed_password.length) return alert("密码不能为空");
      return true;
    }


    /**
     * 上传头像,并返回头像的地址
     */
    async function uploadAvatar() {
      let formData = new FormData()
      formData.append("file", avatar.files[0])
      const resp = await fetch("/api/upload", {
        method: "POST",
        body: formData
      })
      const json = await resp.json()
      if (json.status === "scuscess") {
        console.log(`头像上传成功！`)
        const url = json.data
        console.log(url)
      } else {
        console.log(`头像上传失败！`)
      }
      return json.data
    }

    /**
    * 上传表单注册信息
    */
    function sendMessage(data) {
      // 发送表单的ajax请求
      function ajax(url, obj) {
        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");
        const requestOptions = {
          method: "POST",
          headers: myHeaders,
          body: JSON.stringify(obj),
          redirect: "follow",
        };
        return fetch(url, requestOptions);
      }
      ajax("/user", data)
        .then((data) => data.json())
        .then((res) => {
          if (res.status === "scuscess") {
            alert(`${res.message}\r 3秒后跳转到首页`);
            window.setTimeout((window.location.href = "/"), 3000);
            return res;
          }
        })
        .catch((err) => console.log(`注册失败${err}`));
    }


    /**
     * 主函数
    */
    async function sendInfo() {
      const dataObj = getFormData()
      if (validateForm(dataObj)) {
        const url = await uploadAvatar()
        dataObj.avatar = url
        console.log(dataObj)
        sendMessage(dataObj)
      }
    }
  </script>
</head>

<body>
  <div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
      <div>
        <img class="mx-auto h-12 w-auto" src="/img/register.svg" alt="Workflow" />
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
          Register
        </h2>
      </div>
      <form class="mt-8 space-y-6">
        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <input id="username" name="username" type="text" autocomplete="username" required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Username" />
          </div>
          <div>
            <input id="email-address" name="email" type="email" autocomplete="email" required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Email address" />
          </div>
          <div>
            <input id="password" name="hashed_password" type="password" autocomplete="current-password" required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Password" />
          </div>
          <div>
            <input type="file" name="file" id="avatar"
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" />
          </div>
        </div>

        <div>
          <button type="button" onclick="sendInfo()"
            class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
              <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                  clip-rule="evenodd" />
              </svg>
            </span>
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</body>


</html>